footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff !important;

  .footer__light {
    display: block;
  }

  img {
    margin-bottom: 60px;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
  }

  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 63%;
    max-width: 63%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
  }

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 7px 14px;
    display: block;
  }

  .nav-link:hover {
    opacity: 0.75;
  }
}
