.products {
  padding: 100px 0;

  .section-title {
    margin-bottom: 70px;
    text-align: center;
    font-size: 3.15rem;
    font-weight: 700;
    color: #1d365e;
    letter-spacing: 0.015rem;
    line-height: 1.2;
  }

  .products__content {
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .col-lg-4 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
  }
}
